<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/styles.css">
    <title>Usuários Cadastrados</title>
</head>
<body>
    <h1>Usuários Cadastrados</h1>
    <ul>
        {% if usuarios %}
            {% for usuario in usuarios %}
                <li>
                    <strong>Usuário:</strong> {{ usuario['usuario'] }}<br>
                    <strong>Par:</strong> {{ usuario['par'] }}<br>
                    <strong>Capital Inicial:</strong> {{ usuario['capital_inicial'] }}<br>
                </li>
            {% endfor %}
        {% else %}
            <p>Nenhum usuário cadastrado.</p>
        {% endif %}
    </ul>
    <a href="/">Voltar</a>
</body>
</html>
